 .u-section-1 {
  --color-var: #1a1a1a;
}

.u-section-1 .u-sheet-1 {
  min-height: 209px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 35px auto 35px 0;
} .u-section-2 {
  --color-var: #1a1a1a;
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-video-1 {
  width: 942px;
  height: 530px;
  margin: 27px auto 50px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-video-1 {
    width: 940px;
    height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}